body, html {
	position: relative;
	color: #DDDDDD;
	background-color: #000000;

	margin: 0px;
	padding: 0px;
	/* Fallback for older browsers */
	width: 100%;
	height: 100%;
	/* Try to fill out the real viewport on mobile without scrolling */
	width: 100dvw;
	height: 100dvh;

	overflow: hidden;
}

.ui-panel {
	position: relative;
	width: 100%;
	height: 100%;
	/* We're gonna default to scrollable for the general case, some specific panels might override this
	   if it's being particularly dumb. The main gameplay panels shouldn't need to scroll ever. */
	overflow: scroll;
}

.canvas-container {
	margin: 0 auto;
}

.canvas-container canvas {
	width: 100%;
	height: 100%;
	display: block;

    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

.canvas-container img {
	width: 100%;
	height: 100%;
	display: none;

	image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

.canvas-container.inactive canvas {
	display: none;
}

.canvas-container.inactive img {
	display: block;
}

.canvas-container.inactive:hover img {
	filter: brightness(1.75);
	cursor: pointer;
}

.menu-overlay {
	position: absolute;
	top: 0%;
	left: 0%;
}

.touch-toggle-overlay {
	position: absolute;
	top: 0%;
	right: 0%;
}

.touch-toggle-overlay input {
	display: none;
}

.touch-toggle-overlay.touch-controls-active input {
	display: inline;
}