body, html {
	position: relative;
	color: #DDDDDD;
	background-color: #000000;

	margin: 0px;
	padding: 0px;
	/* Fallback for older browsers */
	width: 100%;
	height: 100%;
	/* Try to fill out the real viewport on mobile without scrolling */
	width: 100dvw;
	height: 100dvh;

	overflow: hidden;
}

.top-bar {
	position: absolute;
	width: 100%;
	height: 40px;
	top: 0px;
	left: 0px;

	background-color: rgba(255, 255, 255, 0.1);
}

.top-bar button {
	width: 40px;
	height: 40px;
	font-size: 1.5em;
	background-color: #222;
	border-left:   2px solid #333;
	border-top:    2px solid #333;
	border-right:  2px solid #111;
	border-bottom: 2px solid #111;
}

.top-bar button:hover {
	background-color: #444;
}

.ui-panel {
	display: none;
	position: relative;
	width: 100%;
	height: calc(100% - 40px);
	top: 40px;
	/* We're gonna default to scrollable for the general case, some specific panels might override this
	   if it's being particularly dumb. The main gameplay panels shouldn't need to scroll ever. */
	overflow: scroll;
}

.ui-panel.active {
	display: block;
}

.centered-panel {
	min-height: calc(100% - 40px);
	max-width: calc(980px - 40px);
	padding: 20px;
	margin: 0 auto;
	background: #111;
}

.main-menu {
	display: none;
	position: absolute;
	width: 200px;
	top: 40px;
	left: 0%;
	overflow: scroll;
}

.main-menu button {
	width: 100%;
	text-align: left;
	font-size: 1.5em;
	color: #DDD;
	background-color: #222;
	border: none;
}

.main-menu button:hover {
	background-color: #333;
	color: #EEE;
}


.main-menu button.active {
	font-weight: bold;
	background-color: #444;
	color: #FFF;
	border-left: 5px solid #AA33AA;
}

.main-menu.active {
	display: block;
}

.canvas-container {
	margin: 0 auto;
}

.canvas-container canvas {
	width: 100%;
	height: 100%;
	display: block;

    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

.canvas-container img {
	width: 100%;
	height: 100%;
	display: none;

	image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

.canvas-container.inactive canvas {
	display: none;
}

.canvas-container.inactive img {
	display: block;
}

.canvas-container.inactive:hover img {
	filter: brightness(1.75);
	cursor: pointer;
}

.menu-overlay {
	position: absolute;
	top: 0%;
	left: 0%;
}

.touch-toggle-overlay {
	position: absolute;
	top: 0%;
	right: 0%;
}

.touch-toggle-overlay input {
	display: none;
}

.touch-toggle-overlay.touch-controls-active input {
	display: inline;
}